.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex; 
}

.header__container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.header__logo-container {
    display: flex; 
    align-items: center;
}

.header__logo {
    width: 50px;
    height: auto; 
}

.header__button-container {
    display: flex; 
    margin-left: auto; 
}

.header__button {
    background-color: transparent;
    color: rgb(255, 255, 255); 
    border: 2px solid white;
    border-radius: 5px; 
    padding: 10px 15px; 
    margin-left: 10px;
}

.header__button-container {
    margin-right: 40px; 
}

.header__button:hover {
    background-color: white; 
    color: black; 
}